# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Ambiente
.env

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db